<div class="col-md-4">
  <div class="list-group">
    <%= link_to topic_path(topic_entry), class: 'list-group-item' do %>
      <h4 class="list-group-item-heading">
        <%= topic_entry.title %>
        <% if topic_entry.favorite_count(current_user) > 0 %>
          <small class="pull-right">
            <span class="glyphicon glyphicon-heart favorite-heart"></span>
            <%= topic_entry.favorite_count(current_user) %>
          </small>
        <% end %>
      </h4>
      <p class="list-group-item-text">
        <small><%= topic_entry.bookmarks.count %> Bookmarks</small>
      </p>
    <% end %>
  </div>
</div>