<h1>New Favimark Topic</h1>

<div class="row">
  <div class="col-md-4">
    <p>Guidelines for Favimark Topics</p>
    <ul>
      <li>
        Be general in nature
        <ul>
          <li>Use "Sports" instead of "Tennis"</li>
          <li>Use "Cats" instead of "Main Coons"</li>
          <li>Use "Cars" instead of "Maserati"</li>
        </ul>
      </li>
      <li>Must be family-friendly</li>
      <li>Must be unqiely named</li>
      <li>Must be between 3 and 10 characters</li>
    </ul>
  </div>

  <div class="col-md-8">
    <%= render partial: 'form', locals: { topic: @topic } %>
  </div>
</div>
