/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

nav.navbar li:hover {
  background-color: #eee;
}

.topic-header {
  margin: 5px 0;
}

.bookmark-preview {
  width: 100%;
  border: 1px solid green;
}

.thumbnail {
  transition: .2s linear;
  position: relative;

  &:hover {
    z-index: 2;
    box-shadow: -10px 10px 30px 0px #555;
    -o-transform: scale(1.2);
    -moz-transform: scale(1.2);
    transform: scale(1.2);
    opacity: 1;

    & .add-bookmark.favorited {
      text-shadow: -3px 4px 8px #444;
    }
  }

  .caption {
    overflow-x: hidden;
  }
  .add-bookmark {
    position: absolute;
    font-size: 2.5em;
    color: #888;
    top: 0;
    right: 0;
    margin: 0;
    transition: color 0.3s ease-in-out, text-shadow 0.1s linear;
    &:hover {
      color: #ffb43c;
      text-shadow: -3px 4px 8px #444;
      cursor: pointer;
    }
    &.favorited {
      color: #ffb43c;
      &:hover {
        color: #888;
        text-shadow: none;
      }
    }
  }
}
