// Place all the styles related to the Topics controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.thumbnail {
  opacity: 0.8;

  & a:hover {
    text-decoration: none;
  }

  &:hover {
    text-decoration: none;
    background-color: #75b3d6;
    border-color: #70a7c5;
  }
}

.favorite-heart {
  color: red;
}